// .skills-wrapper {
// 	display: flex;
// 	justify-content: space-around;
// 	margin-top: 50px;
// }
.skills-wrapper {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 2%;
	margin: 0 auto;
	margin-top: 50px;
	// margin-left: 10px;
	// margin-right: 10px;
	width: 90vw;
}

.skill-card {
	background-color: rgba(255, 255, 255, 0.13);
	padding: 20px;
	border-radius: 10px;
	// margin: 0 3vw;
	// width: 20vw;
}

.skill-list {
	margin-top: 10px;
	color: white;
	list-style: none;
}

.skill-item {
	display: flex;
	flex-direction: row;
	margin: 14px 10px;
	align-items: center;
}

.skill-item p {
	font-weight: 300;
	font-size: 20px;
}

.skill-image {
	width: 28px;
	margin-right: 20px;
}

.skill-topic {
	color: white;
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: 400;
	font-family: "Courier New", Courier, monospace;
}

@media only screen and (max-width: 900px) {
	.self-description {
		width: 80vw;
		padding: 20px;
		font-size: 18px;
	}
}
