@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* .introduction-project-wrapper {
	width: 25vw;
	background-color: rgb(62, 31, 172);
	padding: 22px;
	font-family: "Courier Prime", monospace;
	margin: 25px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.introduction-project-wrapper {
	font-family: "Courier Prime", monospace;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	padding: 25px;
	position: relative;
	transition: all 100ms ease;
}

/* .introduction-project-wrapper:hover {
	transform: scale(1.03);
	transition: all 100ms ease;
} */

.project-name {
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 0.9);
	padding-top: 8px;
	padding-bottom: 10px;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
}

.link-to-project {
	display: flex;
	color: coral;
	justify-content: center;
	font-size: 16px;
	transition: all 50ms ease;
	line-height: 20px;
	margin-bottom: 5px;
}

.link-to-project:hover {
	font-size: 18px;
	transition: all 100ms ease;
}

.project-image {
	display: block;
	object-fit: cover;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	margin: 5px auto;
	border-radius: 6px;
}

.project-category {
	margin-top: 40px;
	color: rgba(255, 255, 255, 0.8);
	font-size: 30px;
}

.project-description {
	margin-top: 15px;
	font-family: "Lato", sans-serif;
	word-spacing: 3px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	/* text-align: center; */
	padding-left: 5px;
}

.learning-outcomes {
	margin-top: 10px;
	color: rgb(51, 251, 12);
	font-family: "Lato", sans-serif;
	word-spacing: 3px;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	width: 105%;
}

.paragraph-descriptor {
	text-decoration: underline;
}

/* @media screen and (max-width: 900px) {
	.project-image {
		width: 36vw;
		height: 32vw;
	}

	.introduction-project-wrapper {
		width: 40vw;
		padding: 12px;
	}
}

@media screen and (max-width: 600px) {
	.project-image {
		width: 80vw;
		height: 72vw;
	}

	.introduction-project-wrapper {
		width: 85vw;
		padding: 12px;
		margin: 70px auto;
	}
} */
