hr.introduction-resume {
	display: block;
	border: 3px solid rgba(52, 251, 12, 0.838);
	width: 90vw;
	margin: 0 auto;
	border-radius: 3px;
}

.above-introduction-resume {
	display: block;
	height: 60px;
}

.below-introduction-resume {
	display: block;
	height: 100px;
}
