.projects-project-card-wrapper {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 30px;
}

.projects-project-card-wrapper-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-description-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
