@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.resume-page-header {
	display: flex;
	justify-content: center;
	color: rgb(255, 255, 255);
	font-size: 60px;
	margin: 20px;
	margin-top: 40px;
	font-family: "Courier Prime", monospace;
	font-weight: 200;
}

.resume-description {
	display: table;
	margin: 10px auto;
	margin-bottom: 20px;
	color: aliceblue;
	font-size: 18px;
	padding: 15px 25px;
	font-family: "Courier Prime", monospace;
	border: 1px solid white;
	border-radius: 5px;
	line-height: 20px;
	font-family: "Lato", sans-serif;
	word-spacing: 4px;
	font-weight: 300;
}

.link-to-resume {
	color: coral;
	font-size: 19px;
	transition: all 100ms ease;
}

.link-to-resume:hover {
	font-size: 20px;
	transition: all 100ms ease;
}
