@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.introduction-project-card-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}

.introduction-project-header {
	display: flex;
	justify-content: center;
	color: aliceblue;
	font-size: 40px;
	margin: 20px;
	margin-top: 40px;
	font-family: "Courier Prime", monospace;
}

.intro-project-description-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.introduction-project-description {
	display: inline;
	color: aliceblue;
	font-size: 18px;
	padding: 15px 25px;
	font-family: "Courier Prime", monospace;
	border: 1px solid white;
	border-radius: 5px;
}

.introduction-project-link {
	/* text-decoration: none; */
	color: aliceblue;
	font-size: 20px;
}
