@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	background-color: rgb(41, 50, 65, 0.93);
	position: sticky;
	top: 0;
	z-index: 999;
}

.link-wrapper {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 30px;
}

.link {
	text-decoration: none;
	font-family: "Courier Prime", monospace;
	color: rgb(227, 252, 255);
}

.link:hover {
	cursor: pointer;
}

.small-link {
	font-size: 24px;
	font-weight: 200;
	transition: all 200ms;
}

.small-link:hover {
	font-size: 30px;
	transition: all 200ms;
}

.big-link {
	font-size: 36px;
	margin-left: 60px;
}
