.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* min-height: 10vh; */
	height: 80px;
	background-color: rgb(41, 50, 65, 0.93);
	position: sticky;
	top: 0;
	z-index: 999;
}

.link-wrapper {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 30px;
}

.link {
	text-decoration: none;
	font-family: "Courier Prime", monospace;
	color: rgb(255, 255, 255);
}

.link:hover {
	cursor: pointer;
}

.small-link {
	font-size: 22px;
	font-weight: 200;
	transition: all 200ms ease;
}

.small-link:hover {
	font-size: 30px;
	transition: all 100ms ease;
}

.big-link {
	font-size: 32px;
	margin-left: 60px;
	color: rgb(51, 251, 12);
}
