@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.resume-wrapper {
	background-color: rgb(226, 223, 227);
	width: 60vw;
	margin: 0 auto;
	padding: 20px;
	font-family: "Courier Prime", monospace;
	box-shadow: 0px 0px 10px 2px black;
}

.resume-header {
	display: flex;
	justify-content: center;
	color: aliceblue;
	font-size: 40px;
	margin: 20px;
	margin-top: 40px;
	font-family: "Courier Prime", monospace;
}

.resume-wrapper > * {
	margin: 14px;
}
