@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.introduction-project-card-wrapper {
	display: grid;
	/* width: 100vw; */
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
	/* grid-template-columns: 35vw auto 35vw; fraction */
}

.introduction-project-card-wrapper-wrapper {
	width: 93vw;
	margin: 0 auto;
}

.introduction-project-header {
	display: flex;
	justify-content: center;
	color: aliceblue;
	font-size: 40px;
	margin: 20px;
	margin-top: 40px;
	font-family: "Courier Prime", monospace;
}

.intro-project-description-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.introduction-project-description {
	display: inline;
	color: aliceblue;
	font-size: 18px;
	padding: 15px 25px;
	font-family: "Courier Prime", monospace;
	border: 1px solid white;
	border-radius: 5px;
	line-height: 22px;
}

.introduction-project-link {
	/* text-decoration: none; */
	color: aliceblue;
	font-size: 20px;
}

.introduction-project-link:hover {
	font-size: 22px;
}
