@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.name {
	font-family: "Courier Prime", monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(231, 253, 255);
	padding: 10px;
	padding-top: 20vh;
	margin: 10px;
	font-size: 90px;
	font-weight: 300;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.software-engineer {
	font-family: "Courier Prime", monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(51, 251, 12);
	font-size: 30px;
	font-weight: 300;
	padding-bottom: 30px;
}

.self-description {
	font-family: "Courier Prime", monospace;
	margin: 0 auto;
	width: 60vw;
	color: rgb(231, 251, 255);
	text-align: center;
	padding: 20px;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	box-shadow: 1px 1px 5px 1px black;
}

.media-link-wrapper {
	display: flex;
	justify-content: center;
	height: 130px;
}

.media-link {
	margin: 10px;
	margin-top: 20px;
}

.media-icon {
	color: coral;
	width: 100px;
	height: auto;
	transition: all 100ms;
}

.media-icon:hover {
	width: 120px;
	height: auto;
	transition: all 100ms;
}

.icon-description {
	font-family: "Courier Prime", monospace;
	text-decoration: none;
	color: aliceblue;
	text-align: center;
	font-size: 16px;
}

/* blinking cursor https://codepen.io/delgar/pen/rvRvZM*/
#blinking-cursor {
	background: rgb(51, 251, 12);
	line-height: 17px;
	margin-left: 10px;
	margin-bottom: 4px;
	animation: blink 1s infinite;
	width: 15px;
	height: 25px;
}

@keyframes blink {
	0% {
		background: rgba(255, 255, 255, 0);
	}

	35% {
		background: rgba(255, 255, 255, 0);
	}

	50% {
		background: lime;
	}

	85% {
		background: lime;
	}

	100% {
		background: rgba(255, 255, 255, 0);
	}
}
