.self-description {
	font-family: "Lato", sans-serif;
	word-spacing: 4px;
	font-weight: 300;
	margin: 0 auto;
	width: 60vw;
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
	padding: 20px;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
}

.skills-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.skill-card {
	background-color: rgba(255, 255, 255, 0.13);
	padding: 25px;
	border-radius: 10px;
	margin: 0 3vw;
}

.skill-list {
	margin-top: 10px;
	color: white;
	list-style: none;
}

.skill-item {
	display: flex;
	flex-direction: row;
	margin: 14px 10px;
	align-items: center;
}

.skill-item p {
	font-weight: 300;
	font-size: 20px;
}

.skill-image {
	width: 28px;
	margin-right: 20px;
}

.skill-topic {
	color: white;
	font-size: 35px;
	margin-bottom: 10px;
	font-weight: 400;
	font-family: "Courier New", Courier, monospace;
}

@media only screen and (max-width: 900px) {
	.self-description {
		width: 80vw;
		padding: 20px;
		font-size: 18px;
	}
}
