.contact-form {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.small-input-wrapper {
	width: 30vw;
}

.large-input-wrapper {
	width: 30vw;
}

input,
textarea {
	outline: none;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	outline: none;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgb(51, 251, 12);
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	caret-color: white;
	color: rgba(255, 255, 255, 0.9);
	word-spacing: 3px;
	font-weight: 300;
	margin-bottom: 30px;
}

.prompt {
	color: white;
	margin-bottom: 5px;
	font-size: 18px;
	color: white;
	word-spacing: 3px;
	font-weight: 300;
	text-align: left;
}

.small-input {
	width: 100%;
}

.large-input {
	width: 100%;
	min-height: 8em;
}

.invalid-field {
	border-color: rgb(255, 0, 0);
}

.form-submit {
	border: none;
	margin-bottom: 30px;
	padding: 10px;
	width: 200px;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid coral;
	color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	word-spacing: 3px;
	font-weight: 300;
	/* transition: all 300ms ease; */
}

.form-submit:hover {
	cursor: pointer;
	/* background-color: coral; */
	/* border: 1px solid rgb(51, 251, 12); */
	/* color: rgba(255, 255, 255); */
	/* text-decoration: underline; */
	/* transition: all 300ms ease; */
}

.submitted-message {
	padding: 10px;
	font-size: 30px;
	color: white;
	word-spacing: 3px;
	font-weight: 300;
	margin-bottom: 30px;
	margin: 0 auto;
	text-align: center;
}

.required-star {
	color: red;
	font-size: 20px;
}

@media only screen and (max-width: 900px) {
	.small-input-wrapper {
		width: 35vw;
	}

	.large-input-wrapper {
		width: 35vw;
	}
}

@media only screen and (max-width: 700px) {
	.contact-form {
		flex-direction: column;
		align-items: center;
	}

	.small-input-wrapper {
		width: 80vw;
	}

	.large-input-wrapper {
		width: 80vw;
	}

	.form-right-wrapper {
		text-align: center;
	}
}
